@media only screen and (max-width: 510px) {
  .navbar {
    padding: 5px 100px;
  }
}
/* @media only screen and (max-width: 752px) { */
@media only screen and (max-width: 952px) {
  .hero_section {
    min-height: 80vh;
  }
  .collections_heading {
    font-size: 2rem;
  }

  .search_Box {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    gap: 10px;
  }
  .search_Location {
    width: 75%;
    border-right: none;
  }
  .search_Location i {
    left: 10px;
    font-size: 1.5rem;
  }
  .search_Location input {
    border-radius: 10px;
    padding: 10px 10px 10px 40px;
  }
  .search_Bar {
    width: 75%;
    margin: 0px;
  }
  .search_Bar i {
    left: 10px;
    font-size: 1.5rem;
  }
  .search_Bar input {
    border-radius: 10px;
    padding: 10px 10px 10px 43px;
  }
  /* .hero_content_inputs {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    gap: 10px;
  }
  .hero_content_input_location,
  .hero_content_input_search {
    padding: 16px;
    border-radius: 10px;
    width: 90%;
  } */
  .hero_content {
    padding-top: 180px;
  }
  .hero_content_heading {
    font-size: 25px;
    text-align: center;
  }

  .collections_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .collections_card {
    min-width: 390px;
  } */
}

@media only screen and (max-width: 780px) {
  .services {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 890px) {
  .navbar {
    padding: 5px 60px;
  }
  .navbar_menu_container .navbar_menu_item_user_icon {
    display: flex;
    color: #ef4f5f;
  }
  .navbar_menu_item {
    display: none;
  }
}
/* localities section */
@media only screen and (max-width: 669px) and (min-width: 300px) {
  .popular_localities_place {
    flex: 90%;
  }
}

@media only screen and (min-width: 670px) and (max-width: 1000px) {
  .popular_localities_place {
    flex: 45%;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 890px) {
  .navbar {
    padding: 5px 100px;
  }
}
@media only screen and (max-width: 510px) {
  .navbar {
    padding: 5px 50px;
  }
}
/* GEtt the app style */
@media only screen and (max-width: 1200px) {
  .get_the_app_image_section img {
    display: none;
  }
}

/* Footer styling */

@media only screen and (max-width: 900px) {
  .navigation_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .navigation_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 450px) {
  .navigation_container {
    /* grid-template-columns: 1fr; */
  }
}
